/*
 * General
 */
body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #ffffffef;
}

.spacer {
    padding: 2px;
}

.label {
    display: block;
    text-align: center;
    color: #000000;
}

.content-hidden {
    display: none;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

/*
 * Toolbar
 */
.toolbar {
    -webkit-app-region: drag;
}

.toolbar-buttons-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.toolbar-button {
    -webkit-app-region: no-drag;
    display: block;
    padding: 12px;
    padding-top: 6px;
    color: white;
    user-select: none;
    cursor: pointer;
}

.toolbar-button:hover {
    background-color: #111111;
}

/**
 * Buttons
 */
 .button {
    width: 226px;
    max-width: 226px;
    margin: auto;
    padding: 12px;
    background-color: #333333;
    color: white;
    user-select: none;
    cursor: pointer;
}

.button:not(.button-disabled):hover {
    background-color: #111111;
}

.button-disabled {
    background-color: #888888;
    user-select: none;
    cursor: default;
}

/**
 * Content + Sidebar
 */
.content {
    display: flex;
    height: calc(100% - 39px);
}

.sidebar {
    min-width: 150px;
    width: 150px;
    padding-right: 10px;
    border-right: 1px solid #aaaaaa;
}

.sidebar-content {
    display: flex;
    margin: auto;
    align-items: center;
}

/**
 * Tabs
 */
.tabs {
	display: flex;
    flex-wrap: wrap;
    padding-top: 3px;
}

.tabs label {
    width: 100%;
	display: block;
    padding: 12px;
	cursor: pointer;
    background: #ffffff;
    font-weight: bold;
    transition: ease 0.2s;
    user-select: none;
}

.tabs label:hover {
    background: #dddddd;
}

.tabs .tab {
    order: 1;
    flex-grow: 1;
	width: 100%;
	display: none;
    padding: 1rem;
    background: #c7c7c7;
}

.tabs input[type="radio"] {
	display: none;
}

.tabs input[type="radio"]:checked + label {
    background: #c7c7c7;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

.tab-category {
    padding: 5px;
}

.tab-category span {
    font-weight: bolder;
    color: #888888;
    user-select: none;
}

/*
 * Game select content
 */
.game-select-content {
    display: flex;
    height: calc(100% - 45px);
}

.select-game-folder-buttons-container {
    display: flex;
    width: 250px;
    margin: auto;
}

.remove-folder-button {
    width: 14px;
    padding: 10px 14px 11px 14px;
}